#GYG URL DA BUSCA
GYG_URL=https://www.getyourguide.com/pt-br/zurique-l55/ingresso-para-o-museu-da-casa-do-chocolate-lindt-t396265/
GYG_ACTIVITY_ID=396265

#FILTRO
GYG_TARGET_DATE=18/07/2026
GYG_EXPECTED_DATE_LABEL=18 de jul. de 2026
GYG_PARTICIPANTS=1
GYG_LANG=pt

#TIPO DE BUSCA:day ( dia da semana) ou time ( dia e hora)
GYG_CHECK_MODE=day
GYG_PREFERRED_TIME=14:30
CHECK_INTERVAL_SECONDS=300

#TELEGRAM
TELEGRAM_BOT_TOKEN=8467132322321:AAEr4325sB4O525245XPwV0
TELEGRAM_CHANNEL_ID=-1003545445545
DRAMAFLEX_CHANNEL=-100354545458418
STATE_FILE=data/state.json
